<% provide(:title, "Characters") %>

<div class="container">
    <h2>Characters</h2>
    <% @characters.each do |character| %>
        <div class="row">
        <%= link_to character['node']["name"], character_path(character['node']["id"]) %>
        </div>
    <% end %>
</div>