<% provide(:title, "Planets") %>

<div class="container">
    <h2>Planets</h2>
    <% @planets.each do |planet| %>
        <div class="row">
        <%= link_to planet['node']["name"], planet_path(planet['node']["id"]) %>
        </div>
    <% end %>
</div>