<% provide(:title, "Starships") %>

<div class="container">
    <h2>Starships</h2>
    <% @starships.each do |starship| %>
        <div class="row">
        <%= link_to starship['node']["name"], starship_path(starship['node']["id"]) %>
        </div>
    <% end %>
</div>